<header class="d-flex flex-wrap justify-content-center mt-3 mb-4">
  <a href="/survey/" class="d-flex align-items-center me-md-auto text-decoration-none">
    <h3>社内アンケート</h3>
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/history" class="nav-link link-dark">改版履歴</a></li>
  </ul>
</header>