<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheets.ejs") %>
      <title>アンケート</title>
</head>

<body>
  <main>
    <div class="container">
      <%- include("./_share/header.ejs") %>
      <div class="d-flex justify-content-center">
        <div class="align-self-center text-center">
          <div class="display-1">500</div>
          <div>Chu いろいろ試してくれててごめん</div>
        </div>
      </div>
    </div>
    <%- include("./_share/javascripts.ejs") %>
  </main>
</body>

</html>