<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheets.ejs") %>
      <title>アンケート</title>
</head>

<body>
  <main>

    <div class="container">
      <%- include("./_share/header.ejs") %>
      <a href="/survey/">アンケート</a>
      <a href="https://cozy-dodol-fef8f1.netlify.app">ロケット打ち上げ情報</a>
    <%- include("./_share/javascripts.ejs") %>
  </main>
</body>

</html>